{% extends 'base.html.twig' %}

{% block title %}New Installations{% endblock %}

{% block body %}
    <h1>Create new Installations</h1>

    {{ include('installations/_form.html.twig') }}

    <a href="{{ path('app_installations_index') }}">back to list</a>
{% endblock %}
